/*NAV BAR*/
nav {
    background-color: cornflowerblue;
    padding: 10px;
}

/*BODY*/
body {
    background-color: lightblue;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

h2 {
    color: lightblue;
}

img {
    width: 400px;
}

button {
    margin: 10px;
}
